node_modules
dist
build
coverage
public/build
package-lock.json
apps/*/package-lock.json
apps/client/composer.json
docker-compose.yml
stylecop.json
apps/bidding-service/**/*.json
workers/**/*.json
*.slnx
*.csproj
*.cs
*.md
*.ps1
